<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819917758683-e4b319r02f86hkb1bct92eg8ettggffm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819917758683-e4b319r02f86hkb1bct92eg8ettggffm</string>
	<key>API_KEY</key>
	<string>AIzaSyBaAtiE-TnPtT1-tLqOoGIkocG1MDrNz1o</string>
	<key>GCM_SENDER_ID</key>
	<string>819917758683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter20230103MemoApp</string>
	<key>PROJECT_ID</key>
	<string>fir-momo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-momo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819917758683:ios:a78bda26a646b703c1acfe</string>
</dict>
</plist>